streamlit
langchain-core
langchain-community
langchain-huggingface
selenium
webdriver-manager
pyperclip
scikit-learn
numpy
requests
chromadb
langchain-chroma
tiktoken
langchain-openai
langchain-groq
langchain-anthropic
langchain-google-genai
langchain-ollama
beautifulsoup4
protobuf==3.20.3
sentence-transformers
unstructured