streamlit
langchain-core
langchain-community
langchain-huggingface
selenium
pyperclip
scikit-learn
numpy
requests
chromadb
langchain-chroma
tiktoken
langchain-openai
langchain-groq
langchain-anthropic
langchain-google-genai
beautifulsoup4
webdriver-manager